# LearningUnity
# based on https://github.com/JetBrains/resharper-rider-samples/blob/master/.gitignore

.idea
*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store

